*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.absent{
    background-color: white;
    border-radius: 3px;
    display: grid;
    grid-template-columns: auto auto;
   justify-content:space-between;
   margin-top: 20px;
   background-color: whitesmoke;
   box-shadow: rgb(49, 46, 46);
   border: rgb(29, 27, 27);
}
.name-class-img{
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto;
    
}
.name-class{
    margin-left: 15px;
}
.image{
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.absent-name{
    margin-right: 20px;
    background-color: rgba(233, 177, 167, 0.548);
    
    margin-top: 30%;
    width: 80px;
    height: 20px;
    border-radius: 20px;
   color: rgb(179, 62, 62);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: bolder;
    border: none;
    
   
    
}